# Import Packages

In [35]:
import pandas as pd
import numpy as np
import openpyxl as op

# Load the Data

In [36]:
df_productlist = pd.read_excel('product_list.xlsx')

In [37]:
# Print Product list
df_productlist.head()

,Unnamed: 0,product_id,product_name,product_type,price
0,0,PRODUCT16794,Grandmas swedish thin pancakes,readymade_breakfast,12.81
1,1,PRODUCT61957,Chili jack oven omelet,readymade_breakfast,9.95
2,2,PRODUCT23890,Baked pears,readymade_breakfast,10.04
3,3,PRODUCT52912,Best buttermilk pancakes,readymade_breakfast,5.83
4,4,PRODUCT56387,Blackberry breakfast bars,readymade_breakfast,14.00

# Data Cleaning

In [26]:
# 1. Remove Unnamed Column (possible column for index)

In [38]:
df_pl_cleaned = df_productlist.drop(columns=['Unnamed: 0'])

In [28]:
# 2. Check for any missing or null values

In [39]:
missing_values = df_pl_cleaned.isnull().sum()

In [ ]:
# 3. Check for duplicate entries

In [40]:
duplicates = df_pl_cleaned.duplicated(subset=['product_id', 'product_name']).sum()

In [42]:
# Step 4: Standardize the format of text fields
# Capitalizing the first letter of each word in product

In [41]:
df_pl_cleaned['product_name'] = df_pl_cleaned['product_name'].str.title()
df_pl_cleaned['product_type'] = df_pl_cleaned['product_type'].str.title()

In [43]:
# Step 5: Validate and correct data types
# To ensuring 'price' is a numeric type

In [51]:
df_pl_cleaned['price'] = pd.to_numeric(df_pl_cleaned['price'], errors='coerce')

# Final

In [53]:
df_pl_cleaned

,product_id,product_name,product_type,price
0,PRODUCT16794,Grandmas Swedish Thin Pancakes,Readymade_Breakfast,12.81
1,PRODUCT61957,Chili Jack Oven Omelet,Readymade_Breakfast,9.95
2,PRODUCT23890,Baked Pears,Readymade_Breakfast,10.04
3,PRODUCT52912,Best Buttermilk Pancakes,Readymade_Breakfast,5.83
4,PRODUCT56387,Blackberry Breakfast Bars,Readymade_Breakfast,14.00
...,...,...,...,...
745,PRODUCT35203,Tomato,Grocery,17.28
746,PRODUCT34682,Bowl,Kitchenware,17.28
747,PRODUCT07137,Dehumidifier,Electronics And Technology,38.07
748,PRODUCT29484,Rice,Grocery,17.28
749,PRODUCT22046,Dove Deodorant,Health And Hygiene,6.11